<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
  </head>
  <body ng-app="myapp">

    <div ng-controller="MainCtrl as mainController">
      <h1>{{mainController.greeting}}</h1>
      <current-time></current-time>

      <img ng-src="{{mainController.logo}}" alt="webpack logo" />
    </div>

  </body>
</html>
